/* *  {
    border: 3px solid red;
  } */

  html {
    box-sizing: border-box;
    font-size: 16px;
  }

body {
    height: 100%;
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header{
    background: rgb(90, 240, 165);
    color: darkslategray;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr auto;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.navigation {
    list-style: none;
    display: grid;
    grid-row: 1/3;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-items: center;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-decoration:
    underline;
    color: white;
}

aside  {
font-size: 13px;
text-align: center;
}
.sidebar-image {
    width: 20vw;
}
.mid-section {
    display: grid;
    grid-gap: 1.5rem;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "sidebar-left main-content sidebar-right"
    "sidebar-left footer footer"
}
.sidebar-left {
    grid-area: sidebar-left;
}
.main-content {
    grid-area: main-content;
    text-align: justify;
}
.sidebar-right {
    grid-area: sidebar-right;
}
.footer {
    grid-area: footer;
    background: radial-gradient(rgba(23, 100, 37, 0.856), rgb(90, 240, 165));
    text-align: center;
    color: white;
    font-weight: bold; 
}